/* ================================
   Contact Section Styles
   ================================ */

   #Contact {
    position: relative;
    left: 5%;
    color: var(--text-color);
    min-height: 175px;
  }
  
  #Contact .ContactName {
    display: block;
    font-size: 2.25rem; /* Setting font size for the main heading */
    font-weight: bold; /* Semi-bold */
    margin-bottom: 0.875em; /* Space below the main heading */
    position: relative;
    left: -2.5%;
  }
  
  .googleForm {
    font-size: 1.5rem; /* Font size for the download link */
    font-weight: bold; /* Light weight for subtlety */
    text-decoration: underline; /* Underlined as it's a link */
    margin-bottom: 0.75em; /* Spacing below the download link */
  }
  
  #Contact p {
    font-size: 1rem;
  }