.footer-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.62em;
  font-size: 1.5rem;
  background-color: steelblue;
  max-width: 1200px;
  margin: 0 auto;
}
