.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.62em;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: var(--bkg-color);
}