header {
  background: var(--header-bkg-color);
  color: #fff;
  padding: 0 auto;
  font-size: 24px;
}

.header-bar {
  display: flex;
  justify-content: space-between; // items to edges
  align-items: center;            // vertical center
  padding: 0.9rem;
}