// Projects <main> media queries + setup

@use '../../abstracts/mixins' as *;
@use '../../abstracts/variables' as *;

.home-grid {
  /* 0.  Mobile‑first — single column stack */
  display: block;
  margin: 0 auto;
}

.card_media {
  @include tile()
}

.project-tile {
  display: flex;
  flex-direction: column;   // Description is under media
  margin-bottom: 1rem;

  @include respond-to(sm) {
    flex-direction: row;    // Moves description right of media
    margin-block-end: 2rem;
    gap: 2rem;

    .card_media {
      // flex: flex-grow, flex-shrink, flex-initialSize
      flex: 0 0 50%;       // Image should take up half the div
      @include tile;       
    }

    .card_description {
      flex: 1 1 50%;       // ⑥ text fills remaining space
    }
  }
}

.card_description {
  border: 1.5px solid var(--text-color);
  border-top: none;
  padding: 10px 20px 20px;

  @include respond-to(sm) {
    border: 1.5px solid var(--text-color);  /* A light border around each section */
    padding: 20px;
    border-radius: 5px;                     /* Rounded corners */
  }

  a {
    font-family: 'Raleway', sans-serif;
    font-variant-numeric: lining-nums tabular-nums;  // Make 3 in '3D' inline with text
    color: var(--text-color-h2);
    font-size: 1.5rem;
  }
  
  p {
    margin-bottom: 0px;
  }

  ul {
    margin-top: 1em;
  }
}



