// :root targets highest level DOM (Document Object Model) - <html>
// and sets (--variables) that can be reused anywhere in the style sheet
:root {
/* ---------------- Raw Tokens ---------------- */
/* -------------------------------------------- */
  // Color Tokens
  --color-text:               #eee;
  --color-text-light:         #222;
  --color-text-dark:          #eee;
  --color-text-h2-light:      #333;
  --color-text-h2-dark:       #87CEFA;
  --color-text-h3-light:      #555;
  --color-text-h3-dark:       #eee;
  --color-text-p-light:       #666;
  --color-text-p-dark:        #e0e0e0;
  // Background colors
  --color-bg-body-light:      steelblue;
  --color-bg-body-dark:       #121212;
  --color-bg-header-light:    #121212;
  --color-bg-header-dark:     steelblue;
  --color-bg-accordion-light: #f9f9f9;
  --color-bg-accordion-dark:  #222;

  // Font Tokens
  --font-primary:               'Lato',    sans-serif;
  --font-secondary:             'Raleway', sans-serif;

  // Font scaling
  --base-font-size:             16px;
  --min-font-size:              1rem;
  --max-font-size:              2rem;
  --font-scaling-factor:        0.5;
  
  /* Legacy color tokens */
  --legacy-switch-bkg-color:  #2b2b2b;
  --legacy-bkg-color:         #87CEFA;
  --legacy-switch-bkg-color:  hsl(207, 44%, 80%);

/* ------ Theme Aliases (applied tokens) ------ */
/* -------------------------------------------- */
  // Colors                          
  --text-color:                 var(--color-text);
  --text-color-h2:              var(--color-text-h2-light);
  --text-color-h3:              var(--color-text-h3-light);
  --text-color-p:               var(--color-text-p-light);
  // Background colors
  --bkg-color:                  var(--color-bg-body-light);
  --header-bkg-color:           var(--color-bg-header-light);
  --accordian-bkg-color:        var(--color-bg-accordion-light);
}

// @media (prefers-color-scheme: dark) automatically applies dark mode styles 
// if the user's operating system prefers dark mode. Overriding :root
// However, it does not override variables toggled by javascript. 
@media (prefers-color-scheme: dark) {
  :root {
    // Colors
    --text-color:               var(--color-text);
    --text-color-h2:            var(--color-text-h2-dark);
    --text-color-h3:            var(--color-text-h3-dark);
    --text-color-p:             var(--color-text-p-dark);
    // Background color
    --bkg-color:                var(--color-bg-body-dark);
    --header-bkg-color:         var(--color-bg-header-dark);
    --accordian-bkg-color:      var(--color-bg-accordion-dark);
  }
}

// Layout rhythm
$container-max: 75rem;  // ≈ 1200 px – rem is root <html> font-size: --base-font-size
$gutter:        1rem;   // base horizontal padding (mobile)

/* Break‑points */
$bp-sm:         48rem;  // 768 px   Medium devices (tablets, 768px and up)
$bp-md:         62rem;  // 992 px   Large devices (desktops, 992px and up) 
$bp-lg:         72rem;  // 1152 px 