:root {
    --text-color: #222;
    --bkg-color: #87CEFA;
    --switch-bkg-color: hsl(207, 44%, 80%);
    --switch-position: 4px;
  
    // Font scaling variables
    --base-font-size: 16px;
    --min-font-size: 1rem;
    --max-font-size: 2rem;
    --font-scaling-factor: 0.5;
  
    // Fonts
    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
  }
  
  body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
    --switch-bkg-color: #2b2b2b;
    --switch-position: 30px;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      --text-color: #eee;
      --bkg-color: #121212;
      --switch-bkg-color: #2b2b2b;
      --switch-position: 30px;
    }
  
    body.light-theme {
      --text-color: #222;
      --bkg-color: #87CEFA;
      --switch-bkg-color: hsl(207, 44%, 80%);
      --switch-position: 4px;
    }
  }
  