// :root targets highest level DOM (Document Object Model) - <html>
// and sets (--variables) that can be reused anywhere in the style sheet
:root {
/* ---------------- Raw Tokens ---------------- */
/* -------------------------------------------- */
  // Color Tokens
  --color-text:               #eee;
  --color-text-light:         #222;
  --color-text-dark:          #eee;
  --color-bg-body-light:      steelblue;
  --color-bg-body-dark:       #121212;
  --color-bg-header-light:    #121212;
  --color-bg-header-dark:     steelblue;

  // Font Tokens
  --font-primary:               'Lato',    sans-serif;
  --font-secondary:             'Raleway', sans-serif;

  // Font scaling
  --base-font-size:             16px;
  --min-font-size:              1rem;
  --max-font-size:              2rem;
  --font-scaling-factor:        0.5;
  
  /* legacy color tokens */
  --legacy-switch-bkg-color:  #2b2b2b;
  --legacy-bkg-color:         #87CEFA;
  --legacy-switch-bkg-color:  hsl(207, 44%, 80%);

/* ------ Theme Aliases (applied tokens) ------ */
/* -------------------------------------------- */
  // Color                          
  --text-color:                 var(--color-text);
  --bkg-color:                  var(--color-bg-body-light);
  --header-bkg-color:           var(--color-bg-header-light);
}

// @media (prefers-color-scheme: dark) automatically applies dark mode styles 
// if the user's operating system prefers dark mode. Overriding :root
// However, it does not override variables toggled by javascript. 
@media (prefers-color-scheme: dark) {
  :root {
    --text-color:               var(--color-text);
    --bkg-color:                var(--color-bg-body-dark);
    --header-bkg-color:         var(--color-bg-header-dark);
  }
}

// Layout rhythm
$container-max: 75rem;  // ≈ 1200 px – rem is root <html> font-size: --base-font-size
$gutter:        1rem;   // base horizontal padding (mobile)

/* Break‑points */
$bp-sm:         48rem;  // 768 px   Medium devices (tablets, 768px and up)
$bp-md:         62rem;  // 992 px   Large devices (desktops, 992px and up) 
$bp-lg:         72rem;  // 1152 px 